@{
    ViewData["Title"] = "Home Page";
}
@model DTA2018.Helpers.UserInfo

<div class="row">
    <div class="col-md-12">
     @if (!string.IsNullOrEmpty(Model.Id))
     {
         <p>Welcome @Model.Id</p>
     }
     else
     {
         <p>Please Log In</p>
     }
        </div>

</div>
